<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Welcome to {{title}}</h1>
    {{>header}}
    
    <img src='img/me.jpg'>
    {{>footer}}
</body>

</html>