<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Welcome to {{title}}</h1>
    {{>header}}

    <h4>It is a web app which provides real-time weather updates.
     It is developed using Node.js, express.js and openweathermap.org API.</h4>
    <img src='img/me.jpg'>
    {{>footer}}
</body>

</html>